#search-box {
    margin-bottom: 2em;
    width: 15.5em;
}

.app-monster-search {
    background-color: #333;
    margin: 0 auto;
    padding: 1em 0 2em 0;
    width: 20em;
}

.search-result {
    cursor: pointer;
    padding: .5em;
}

.search-result:hover {
    background-color: #0FF;
}
