<div class="dashboard-cont">
    <h2>Dashboard</h2>
    <div class="small-space-around">
        <h3>Current Server</h3>
        <div *ngIf="serverLoc.length > 0;else no_server_disp">
            <div class="small-space-around server-info">
                {{serverLoc}}
            </div>
            <div class="small-space-around">
                <button (click)="goToServer()">Visit Server</button>
            </div>
        </div>
        <ng-template #no_server_disp>
            <div class="small-space-around">
                No server available.
            </div>
        </ng-template>
    </div>
    <div class="small-space-around">
        <h3>Top Monsters</h3>
        <div *ngIf="monsters.length > 0;else no_monster_disp">
            <div class="grid grid-pad">
                <a *ngFor="let mon of monsters"
                    [routerLink]="['/monster/detail', mon.id]"
                    class="col-1-4">
                    <div [ngClass]="getMonsterClasses(mon)" class="module monster">
                        <h4>{{mon.name}}</h4>
                    </div>
                </a>
            </div>
        </div>
        <ng-template #no_monster_disp>No monsters in server.</ng-template>
    </div>
</div>
