body {
    background-color: #CCF;
    margin: 2em;
}

body, input[text], button {
    color: #FFF;
    font-family: Cambria, Georgia;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.mon-type-dark {
    background-color: #444;
    color: #FFF;
}
.mon-type-fire {
    background-color: #A00;
    color: #FFF;
}
.mon-type-light {
    background-color: #EEE;
    color: #333;
}
.mon-type-water {
    background-color: #00A;
    color: #FFF;
}
.mon-type-wind {
    background-color: #AA0;
    color: #FFF;
}

button {
    background-color: #333;
    border: none;
    border-radius: .3em;
    color: #FFF;
    cursor: hand;
    font-family: Arial;
    padding: .5em 1em;
}

button:hover {
    background-color: #0FF;
}

button:disabled {
    background-color: #666;
}

.small-space-around {
    margin: .5em 0 .5em 0;
}

/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}
