.monsters li.selected .badge {
    background-color: #090;
}

.monster-cont {
    text-align: center;
}

.monsters {
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 0;
    width: 15em;
}

.monsters li {
    border-radius: .3em;
    cursor: pointer;
    margin-bottom: .3em;
    padding: 0;
    text-align: left;
}

.monsters li:hover {
    background-color: #0FF;
}

.monsters .badge {
    display: inline-block;
    font-size: .8em;
    color: #FFF;
    padding: .8em;
    background-color: #369;
    border-radius: .3em 0 0 .3em;
    margin-right: 1em;
    min-width: 1.5em;
    text-align: right;
}

.selected-info {
    background-color: #363;
    border-radius: .3em;
    margin: 0 auto 2em auto;
    padding: 1em;
    width: 20em;
}

.selected-info .mon-name {
    color: #FFF;
}
