<div class="app-monster-list">
    <h2>All Monsters ({{monsters.length}})</h2>
    <div *ngIf="selectedMon" class="selected-info">
        <h2 class="mon-name">"{{selectedMon.name | uppercase}}" is selected</h2>
        <button (click)="goToDetail()">View Details</button>
    </div>
    <ul class="monsters">
        <li *ngFor="let currMon of monsters"
            (click)="onSelect(currMon)"
            [class.selected]="currMon === selectedMon"
            [ngClass]="getMonsterClasses(currMon)">
            <span class="badge">{{currMon.id}}</span>
            <span>{{currMon.name}}</span>
        </li>
    </ul>
</div>
