h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.75em;
}

.app-root {
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
nav {
    margin-bottom: 2em;
}

nav a, nav a:visited, a:link {
    background-color: #333;
    border-radius: .3em;
    color: #FFF;
    display: inline-block;
    margin-top: 1em;
    padding: .5em 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: #0FF;
}

nav a.active {
    background-color: #090;
    color: #FFF;
}
