<div class="app-root">
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/generator" routerLinkActive="active">Monster Generator</a>
        <a routerLink="/crawler" routerLinkActive="active">Crawler Control</a>
        <a routerLink="/monster/list" routerLinkActive="active">All Monsters</a>
        <a routerLink="/monster/search" routerLinkActive="active">Monster Search</a>
    </nav>
    <router-outlet></router-outlet>
</div>
