.app-monster-detail h2 {
    border-radius: .3em;
    font-weight: bolder;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    width: 33%;
}

.app-monster-detail table {
    border-radius: .3em;
    margin: 1em auto;
    min-width: 30em;
    padding: .5em;
}

.app-monster-detail table th {
    border-radius: .3em;
    padding: .5em;
    text-align: right;
    vertical-align: middle;
    width: 30%;
}

.app-monster-detail table td {
    border-radius: .3em;
    margin-left: 1em;
    padding: .5em;
    text-align: left;
    vertical-align: middle;
}

input[type="checkbox"] {
    margin-left: 9em;
}

input[type="text"] {
    font-size: 1em;
    padding-right: .5em;
    text-align: right;
    width: 7em;
}

.app-monster-detail .delete {
    background-color: #F00;
    border-radius: .3em;
    color: #FF0;
    cursor: pointer;
    display: block;
    line-height: 100%;
    min-height: 3em;
    min-width: 2em;
    float: right;
    padding: .3em .3em .3em .3em;
    text-align: center;
}

.app-monster-detail .delete:hover {
    background-color: #0FF;
}

.controls {
    margin: 0 auto;
    width: 15em;
}

.mon-img {
    border-radius: .3em;
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    width: 12em;
}

.mon-img .img {
    border: 1px solid #FFF;
    height: 9.25em;
    width: 9.25em;
    margin-bottom: 1em;
}

.mon-type-wind.mon-img .img {
    border: 1px solid #333;
}
