#monster-detail h2,
.mon-stat {
    background-color: #090;
    color: #FFF;
    border-radius: .3em;
    font-weight: bolder;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    width: 33%;
}

label {
    color: #FFF;
    font-weight: bold;
    height: 2em;
    text-align: left;
    width: 7em;
}

.mon-stat {
    background-color: rgba(0, 0, 0, .7);
    width: 40%;
}

input,
label,
.mon-stat .val {
    display: inline-block;
}

.mon-stat .val {
    height: 2em;
    text-align: right;
    width: 9em;
}

input[type="checkbox"] {
    margin-left: 9em;
}

input[type="text"] {
    font-size: 1em;
    padding-right: .5em;
    text-align: right;
    width: 7em;
}

.delete {
    background-color: #F00;
    color: #FF0;
    font-weight: bolder;
    overflow: hidden;
    min-width: 2em;
}

.controls {
    margin-top: 2em;
}

.mon-img {
    background-color: #333;
    border-radius: .3em;
    display: inline-block;
    margin: 0 auto 2em auto;
    padding: 1em;
    width: 12em;
}

.mon-img .img {
    border: 1px solid #FFF;
    height: 9.25em;
    width: 9.25em;
    margin-bottom: 1em;
}
