<div *ngIf="monster" id="monster-detail" class="app-monster-detail">
    <h2>Details for: {{monster.name}}</h2>
    <div class="mon-img">
        <img src="{{getImgSrc('base')}}" alt="{{monster.id}}_img_base" class="img" />
        <br />
        <input [(ngModel)]="monster.image_base" name="monster.image_base" />
    </div>
    <div class="mon-img">
        <img src="{{getImgSrc('awakened')}}" alt="{{monster.id}}_img_awakened" class="img" />
        <br />
        <input [(ngModel)]="monster.image_awakened" name="monster.image_awakened" />
    </div>
    <div class="mon-stat">
        <div>
            <label for="monster.id">ID:</label>
            <span class="val">{{monster.id}}</span>
        </div>
        <div>
            <label for="monster.isLegendary">Is Legendary: </label>
            <span class="val">
                <input [(ngModel)]="monster.isLegendary" type="checkbox" name="monster.isLegendary" />
            </span>
        </div>
        <div>
            <label for="monster.name">Name: </label>
            <span class="val">
                <input [(ngModel)]="monster.name" type="text" name="monster.name" placeholder="Name" />
            </span>
        </div>
        <div>
            <label for="monster.type">Type: </label>
            <span class="val">
                <input [(ngModel)]="monster.type" type="text" name="monster.type" placeholder="Type" />
            </span>
        </div>
        <div>
            <label for="monster.star_level">Star Level: </label>
            <span class="val">
                <input [(ngModel)]="monster.star_level" type="text" name="monster.star_level" placeholder="Star Level" />
            </span>
        </div>
        <div>
            <label for="monster.delete">Delete</label>
            <span class="val">
                <button class="delete" (click)="onDelete(monster, $event)" name="monster.delete">x</button>
            </span>
        </div>
    </div>
    <div class="controls">
        <button (click)="save()">Save</button>
        <button (click)="goBack()">Back</button>
    </div>
</div>
