.monsters li.selected, .monsters li.selected:hover {
    background-color: #090;
    color: #FFF;
}

.monsters li.selected:hover {
    background-color: #0C0;
}

.monster-cont {
    text-align: center;
}

.monsters {
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 0;
    width: 15em;
}

.monsters li {
    background-color: #EEE;
    border-radius: .3em;
    cursor: pointer;
    margin-bottom: .3em;
    padding: 0;
    text-align: left;
}

.monsters li:hover {
    background-color: #CCC;
    color: #00F;
    left: .1em;
}

.monsters .badge {
    display: inline-block;
    font-size: .8em;
    color: #FFF;
    padding: .8em;
    background-color: #369;
    border-radius: .3em 0 0 .3em;
    margin-right: 1em;
    min-width: 1.5em;
    text-align: right;
}
