#monster-detail h2 {
    background-color: #DDD;
    border-radius: .3em;
    font-weight: bolder;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    width: 33%;
}

label {
    color: #666;
    font-weight: bold;
    height: 2em;
    text-align: left;
    width: 7em;
}

input,
label,
.mon-stat .val {
    display: inline-block;
}

.mon-stat .val {
    height: 2em;
    text-align: right;
    width: 9em;
}

input[type="checkbox"] {
    margin-left: 9em;
}

input[type="text"] {
    font-size: 1em;
    padding-right: .5em;
    text-align: right;
    width: 7em;
}

button {
    background-color: #EEE;
    border: none;
    border-radius: .3em;
    cursor: hand;
    font-family: Arial;
    padding: .5em 1em;
}

button:hover {
    background-color: #0FF;
}

button:disabled {
    background-color: #EEE;
    color: #CCC;
    cursor: auto;
}

.delete {
    background-color: #F00;
    color: #FF0;
    font-weight: bolder;
    overflow: hidden;
    min-width: 2em;
}

.controls {
    margin-top: 2em;
}
